@font-face {
	font-family: 'Arial';
	src: url('assets/fonts/arial.woff2'),
    url('assets/fonts/arial.woff');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}

html {
	scroll-behavior: smooth; 
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: #0f9fff;
    background: radial-gradient(circle, #0f9fff 0%, rgba(250, 250, 252, 0.938) 100%);
    transition: .2s;
    
}

.container {
    position: absolute;
    top: calc(50% - 275px);
    left: calc(50% - 375px);
    width: 750px;
    height: 550px;
}

.title {
    margin-top: 8px;
    font-family: 'Arial';
	font-size: 28px; 
    color: rgb(14, 27, 218);
    text-shadow: 1px 1px 0.5px rgb(0, 151, 211), 0 0 1px blue, 0 0 0.2px blue;
    text-align: center;
}

.textarea {
    display: block;
    width: 671px;
    margin: 10px auto 10px;
    padding: 10px;
    font-family: 'Arial';
    font-size: 18px;
    color: rgb(0, 0, 0);
    overflow: auto;
}

.keyboard {
    width: 680px;
    margin: 0 auto;
    padding: 5px;
    background: #0f9fff;
    border: 3px solid #222222;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.discription, .language {
    margin: 7px auto;
    font-family: 'Arial';
	font-size: 18px; 
    text-align: center;
}

.key {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: 'Arial';
    background: #535252;
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}
.key:hover {
    background: #1d11c4;
    opacity: .5;
}

.key.active {
    color: rgb(14, 27, 218);
    background: #7a7a7a;
	/* box-shadow: 0 7px 7px -7px rgb(4, 0, 255); */
    box-shadow: 0 7px 7px -5px rgb(17, 0, 255);
	transform: translatey(1.5px);
    
}

.key.remove {
    animation: keys_animation 0.5s forwards;
}

@keyframes keys_animation {
    0% {
        background: #535252;
        color: aliceblue;
    }
    100% {
        background: rgb(30, 228, 228);
        color: rgb(0, 0, 0);
    }
}

.Backspace, .CapsLock, .ShiftLeft {
    width: 95px;
}

.Tab{
    width: 50px;
}

.Enter, .ShiftRight {
    width: 85px;
}

.Space {
    width: 320px;
}

.Backspace, .Tab, .Delete, .CapsLock, .Enter, .ShiftLeft, .ArrowUp, .ShiftRight, .ControlLeft, .ControlRight, .MetaLeft, .AltLeft, .AltRight, .ArrowLeft, .ArrowDown, .ArrowRight {
    background: #150264;
}

